html,
body {
  margin: 0;
  padding: 0;
}

.bodyarea {
  min-width: 100%;
  min-height: 100vh;
  background-color: whitesmoke;
  padding: 20px;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 1rem;
}
input[type=file] {
  width: 100%;
}

.NotFound {
  padding-top: 100px;
}

@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 320px;
  }
}